<% include ./partials/header %>
<h1>Projects</h1>
<div>
    <% project.forEach(function(data){ %>
        <h2><%= data.name %></h2>
        <img style="width: 300px" src="<%= data.image %>">
        <a href="<%= data.hostedLink %>"><button>Launch App</button></a>
        <a href="<%= data.githunRepo %>"><button>Github</button></a>
        <p><%= data.description %></p>
    <% }); %>
    
</div>
<% include ./partials/footer %>